<!DOCTYPE html>
<html>

<head>
  <title>My Books</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="container">
    <%- include('../partials/_navbar.ejs') %>

    <div class="main-content">
      <h1>My Book Collection</h1>

      <% if (typeof msg !== 'undefined' && msg) { %>
      <div class="message message-success">
        <%= msg %>
      </div>
      <% } %>

      <a href="/books/new" class="add-book-btn">
        Add New Book
      </a>

      <%- include('../partials/book-card.ejs', {books: books, onlyuser: true}) %>

    </div>
  </div>
</body>

</html>